:root {
  --primary: #25167a;
  --secondary: #e1def4;
  --white: #fff;
  --black: #1a1a1a;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 12em 1fr;
  font-family: "Open Sans", sans-serif;
}

aside,
main {
  min-height: 100vh;
}

/* 
 *================================================
 * Aside navigation
 *================================================
*/

aside {
  background: var(--white);
}

aside img {
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 1em;
}

nav ul li {
  background-color: var(--secondary);
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

nav ul li a {
  color: var(--primary);
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  padding: .8em;
  padding-left: 1em;
}

nav ul li:hover {
  filter: brightness(90%);
}

/* 
 *================================================
 * Main navigation
 *================================================
*/

main {
  background: tomato;
}
